// colors
$blue: #07f;
$white: #fff;
$black: #000;
$yellow: #fc0;
$red: #f33;
$paleWhite: rgba($white, .6);
$superPaleWhite: rgba($white, .3);
$paleBlack: rgba($black, .6);
$superPaleBlack: rgba($black, .3);

// mq
$tablet: 1024px;
